
        		
  		<section class = 'round'>
  			
  			<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <h1> <%= title %> </h1>
    		<%= yield %>
    	</section>