
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
  	<h1>Ruby on Rails Tutorial Sample App | <%= @title %> </h1>
    <%= yield %>
  </body>
</html>